<!DOCTYPE html>
<html>
    <head><title>Контакты</title></head>
    <body>

        <style> h1 {

            color: #00FFFF;
        }
        
        </style>
        <a href="{{ url_for('index') }}">Главная</a>
        <h1>Контакты</h1>
        <p>Эта страница для просмотра наших контактов</p>
        <a href="tel:2848484">Наш телефон:2848484</a>

        <img src="http://zvookrec.ru/sites/default/files/ivr.jpg" alt=""

        width="70"
        height="70">

        <a href="mailto:info@website.com">Наш e-mail:info@website.com</a>
        
        
    </body>
</html>