<!DOCTYPE html>
<html>
    <head><title>Главная</title></head>
    <body>


        <style> ol{

            color: #E9967A;
        }
        
        </style>
        <a href="{{ url_for('contacts') }}">Контакты</a>

        <a href="{{ url_for('athletes') }}">Спортсмены</a>

        <h1>Главная</h1>
        <p>Спортивные товары</p>

        <h3>Наши товары:</h3>
<ol>
    <li>Боксёрская экипировка и инвентарь</li>
    <li>Клюшки</li>
    <li>Лыжный инвентарь</li>
    <li>Самокаты</li>
    <li>Хоккейная экипировка</li>

</ol>

    </body>
</html>